<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.sangvaleap.chatapp</key>
		<string>dd7ca113-af5c-48a6-8954-10ac007dde8e</string>
	</dict>
	<key>signingCertificate</key>
	<string>070E0DC7E7F37759A6356FDC9B1C16AFE5BE1E4A</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>FZL8259LD9</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
